# =========================================
# System files
# =========================================
.DS_Store
Thumbs.db

# =========================================
# Python
# =========================================
__pycache__/
*.pyc

# Virtual environment
venv/
.env/


# =========================================
# Jupyter
# =========================================
.ipynb_checkpoints/