# =========================================
# System files
# =========================================
.DS_Store
Thumbs.db

# =========================================
# Python
# =========================================
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# =========================================
# Data files
# =========================================
data/raw/*
data/edited/*.xlsx

# Keep folder structure
!data/raw/.gitkeep
!data/edited/.gitkeep

# =========================================
# Jupyter
# =========================================
.ipynb_checkpoints/